*.exe
*.vcxproj
*.vcxproj.filters
*.sln
/Testing
testData/output/*
build/CMakeCache.txt
build/.*vcxproj
build/*.sln
build/*.cmake
build/CMakeFiles
build/Win32/*
build/JumpTrading.dir
build/Debug
.vscode
